# Environment variables
configs/config.yaml
corechain-e1321-firebase-adminsdk-fbsvc-fc8bac45e8.json
.env
.env.local
.env.*.local
google-services.json
# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Binaries
bin/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/
